body {
  text-align: center;
  color: white;
  overflow: hidden;
}
a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}
span {
  font-size: 17px;
  font-weight: bold;
  font-size: 17px;
  font-weight: bold;
}

.Typist {
  font-family: monospace;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.7;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 1.7;
  color: white;
  margin-right: 100%;
  width: 80%;
}

div#details {
  font-family: monospace;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.7;
  margin-top: -20px;
  padding-bottom: 15px;
  text-align: left;
}

div.active {
  animation: ease 1s;
  animation-name: slideDown;
  /* margin-top: -1px; */
  /* transform: translateY(5px);
  transition-delay: 1s; */
}

div.inactive {
  animation: ease 1s;
  animation-delay: 1s;
  margin-bottom: 0px;
  animation-name: remove_error_notification;
  animation-name: slideUp;
  transform: translateY(-50px);
  transition-delay: 1s;
}

.transparent {
  color: transparent;
  margin-top: -15px;
  margin-bottom: -50px;
}

@keyframes error_notification {
  from {
    margin-top: 0px;
  } to {
    margin-top: 5px;
  }
}

@keyframes remove_error_notification {
  from {
    margin-top: 50px;
  } to {
    margin-top: 0px;
  }
}

div#input_row {
  margin-bottom: 40px;
  margin-top: 5px;
}

#submit_registration {
  float: left;
  font-family: monospace;
  margin-top: 5px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.fade-in {
  animation: fadeIn ease 2s;
  animation-delay: 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.fade-out {
  animation: fadeOut ease 1s;
  animation: slideUp ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
  opacity: 0;
  
}

@keyframes slideDown {
  0% {
      -webkit-transform: translateY(0);
  }

  100% {
      -webkit-transform: translateY(5px);
  }
}

@-webkit-keyframes slideDown {
  0% {
      -webkit-transform: translateY(0);
  }

  100% {
      -webkit-transform: translateY(5px);
  }
}

@keyframes slideUp {
  0% {
      -webkit-transform: translateY(0);
  }

  100% {
      -webkit-transform: translateY(-50px);
  }
}

@-webkit-keyframes slideUp {
  0% {
      -webkit-transform: translateY(0);
  }

  100% {
      -webkit-transform: translateY(-50px);
  }
}

@keyframes fadeOut{
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* The style below is just for the appearance of the example div */

.style {
  width:90vw; height:90vh;
  text-align:center;
  padding-top:calc(50vh - 50px);
  margin-left:5vw;
  border:4px double #F00;
  background-color:#000;
}
.style p {
  color:#fff;
  font-size:50px;
}

div.modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.dollar {
  font-family: monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 1.7;
  color: white;
  text-align: left;
}

.txt {
  position: absolute !important;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
}

.particles {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(-180deg, #101427 0%, #592368 100%);
}

@keyframes focus {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0);
  }
}

.home-content {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: blur(20px);
  animation: 3s ease-out 0.5s 1 focus;
  /* Duration, function, delay, number of animations, and name of animation */
  animation-fill-mode: forwards;
}

/* .home-content:hover {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: none;
  filter: none;
  transition: 3s;
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainbody {
  position: relative;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  height: 100vh;
  width: 100%;
  z-index: 2;
}
.clearonclick {
  float: left;
  max-width: 31%;
  position: relative;
  margin: 0.5%;
  img {
    width: 100%;
    margin-bottom: -4px;
  }
  .overlay {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    opacity: 0;
    h2 {
      padding-top: 20%;
      font-family: "Droid Serif", serif;
    }
    p {
      font-family: "Julius Sans One", sans-serif;
    }
  }
  &:not(:hover) {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Countdown {
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
}

.ui.button {
  background-color: #592368;
}
.ui.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #3b1745;
}
